// Branding colors

$primary-color: #0D0B40;
$button-color: #f9c444;
$font-color:#8a8a8a;
$footer-color: #1f1f1f;


// Alert colors

$error-color: #CC0001;
$succes-color: #2F71F7;

// Tipografía
$basefont: 'Montserrat', sans-serif;
$basefontsize: 40px;
$listfontsize: 20px;

// button 

$buttoncolor: $white-color;
$buttonbackgroundcolor: $secondary-color;
$buttonfontsize: 15px;

// Constantes

$border-radius: 40px;
$padding: 24px;
$page-max-width: 800px;
$list-style: none;

// Media Queries

$fourk: 2559px;
$laptop: 1023px;
$tablet: 767px;
$cellphone1: 479px;
$xiaomi: 419px;
$cellphone2: 320px;