// Branding colors

$primary-color: #0D0B40;
$button-color: #f9c444;
$font-color:#8a8a8a;
$footer-color: #1f1f1f;


// Alert colors

$error-color: #CC0001;
$succes-color: #2F71F7;

// Tipografía
$basefont: 'Montserrat', sans-serif;

// button 

$buttonfontsize: 15px;
$border-radius: 3px;

// Constantes

$padding: 24px;
$page-max-width: 800px;
$list-style: none;

// Media Queries - mobile first

$macbook: 1439px;
$laptop: 1023px;
$tablet: 767px;
$xiaomi: 419px;